<% provide(:bg_style, "motto") %>
<% provide(:title, "About") %> 
<div class="container">
	<div class="well">
		<h1>
		OUR MOTTO
		</h1>
		<h3>Hair is universal.</h3>
		<h5>Since its early beginnings, the professional team of HEADS by volu-med has been pushing back the frontiers of knowledge.</h5>

		<h5>Cultural, fashion and technical trends are enacted in our unique research facility based on the feedback of our establishments and partners from all over the world. This unique setup enables us to continually explore new territories and invent the products of the future.</h5>

		<h3>Hair is a science.</h3>
		<h5>Providing access to products that enhance well-being and rebuild
		self-consciousness is our key mission.</h5>
		 
		<h3>Hair is a commitment.</h3>
		<h5>The diversity of our engagements reaches from salons, clinics, movie musical and theater productions, celebrities, stars of the music industry to individual hair replacement clients and hospital / doctors clinics. This richness and the complementarity of our brand portfolio has made HEADS by volu-med keen in the universalization of its hair products for the years to come.</h5>
	</div>
</div>