<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user.nil? %>
try for free
		<p><%= button_to "Try it for free", users_path, method: :post %> 
<% end %> -->

<div id="website_tagline">

	<%= image_tag("wig.png") %>

</div>
<div class="guest_user">
<% if current_user.nil? %>

		<p><%= button_to "Book Appointment as A Guest", users_path, method: :post %> 
<% end %> 
</p>
</div>
<ul class="cb-slideshow">
            <li><span></span><div><h3></h3></div></li>
            <li><span></span><div><h3></h3></div></li>
            <li><span></span><div><h3></h3></div></li>
            <li><span></span><div><h3></h3></div></li>
            <li><span></span><div><h3></h3></div></li>
            <li><span></span><div><h3></h3></div></li>
        </ul>

