
<div class="well" %>
<li><%= link_to 'Monthly Calendar', appointments_monthly_calendar_path %></li>
<li><%= link_to 'Weekly Calendar', appointments_weekly_calendar_path %></li>
<li><%= link_to 'Appointments Home', appointments_path %></li>

</div>