<footer class="footer-section ">
  <div class="row">
        
      <div class="soc-net social-links">
    </a>
          </div>
    
    <div class="copyrights">
    <ul class="footer">

    <li class="partnericons"> <p class="copyrightss">  ©  <%= Time.now.year %> <%= link_to "HEADS by volu-med ", "http://www.hairs.ph", target: "_blank", rel: "nofollow" %>| All Rights Reserved   </p>
  	<p class="introtoicons">
  	In Partnership with : 
  	</p>
    <%= image_tag("bedhead.png") %>


    <%= image_tag("davines.png") %>
     
    </li>
    
    </ul>

</div>
   
  </div>
</footer><!-- .footer-section -->
    <!--Footer-->

